# Exemple de configuració per Mosquitto.
# Copiar a mosquitto.conf i ajustar ports/certs.
# Aquest fitxer serveix tant per dev com per producció: només canvia
# el port del listener extern (1883 = dev/intern, 51823 = producció TLS).

listener 1883 0.0.0.0          # xarxa interna

listener xxxxx 0.0.0.0         # extern TLS
certfile /mosquitto/certs/fullchain.pem
keyfile /mosquitto/certs/privkey.pem

persistence true
persistence_location /mosquitto/data/
log_dest stdout
allow_anonymous false

plugin /usr/lib/mosquitto_dynamic_security.so
plugin_opt_config_file /mosquitto/data/dynamic-security.json