# Producció — copiar a mosquitto.conf i ajustar paths/certs.

listener 1883 0.0.0.0          # xarxa interna

listener xxxxx 0.0.0.0         # extern TLS
certfile /etc/letsencrypt/live/el_teu_domini/fullchain.pem
keyfile /etc/letsencrypt/live/el_teu_domini/privkey.pem

persistence true
persistence_location /mosquitto/data/
log_dest stdout
allow_anonymous false

plugin /usr/lib/mosquitto_dynamic_security.so
plugin_opt_config_file /mosquitto/data/dynamic-security.json