html,
body,
#root,
#map {
  margin: 0;
  padding: 0;
  height: 100%;
}

#map-container {
  height: 100vh;
  max-height: 100svh; /* Compatibilitat amb navegadors moderns */
  width: 100%;
  overflow: hidden;
}

.leaflet-map {
  height: 100%;
  width: 100%;
}
