BASE_DOMAIN_URL = xxxx.xxx # public domain of the app
PORT = 3033

OVERPASS_URL = https://overpass-api.de/api/interpreter

TELEGRAM_BOT_TOKEN = 0000000000:xxxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxx
TELEGRAM_CHAT_ID = 00000000

GRAPHHOPPER_API_KEY = 00000000-0000-0000-0000-000000000000

FASTIFY_LOGLEVEL = warn
JWT_SECRET = canvia_aixo_per_una_clau_segura